@import "tailwindcss";

:root {
  --background: #f2e6da;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --font-fleur-de-leah: var(--font-fleur-de-leah);
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: fl;
  display: flex;
  place-items: center;
}
